$main:    #202124;
$dmain:   #141517;
$lmain:   #2c2e33;
$white:   #FFF;
$grey:    #939393;
$lgrey:   #cccccc;
$dgrey:   #535353;
$shadow:  #111111;
$black:   #000;
$blue:    #547ab3;
$red:     #b35454;
$yellow:  #b3a754;
$green:   #7eb354;