@import 'colorlist';

.confInput {
  display: flex;
  width: 100%;
  height: 4vh;
  > input {
    flex: 1;
  }
  > .confirm {
    display: flex;
    width: 8vh;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      background: $grey;
    }
    > img {
      height: 70%;
    }
  }
}