@import "colorlist.scss";

.page#live {
  main {
    display: flex;
    width: 100%;
    height: 100%;
    > .team {
      display: flex;
      position: relative;
      flex-direction: column;
      width: 30%;
      height: 100%;
      padding-top: 2vh;
      flex: none;
      overflow: hidden;
      > .player-wr {
        display: flex;
        width: 95%;
        height: calc(20% - 2vh);
        margin-bottom: 2vh;
        position: relative;
        opacity: 1;
        transform: translateX(0);
        &:not(.fullyVisible) {
          transition: 0.5s all;
        }
        &.hide {
          opacity: 0;
        }
        &:hover {
          z-index: 3;
        }
        &.backdrop > .player {
          box-shadow: $white 0 0 0.5vh;
        }
        > .player {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          position: relative;
          background: $lmain;
          z-index: 0;
          top: 0;
          transition: top 0.2s linear, height 0.2s linear, box-shadow 0.2s linear, z-index 0.2s step-end;
          &::after {
            content: "";
            display: flex;
            width: 1.75vh;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            background: linear-gradient(to left, $blue 20%, transparent 20%, transparent 50%, $blue 50%);
          }
          &.user::after {
            background: linear-gradient(to left, $green 20%, transparent 20%, transparent 50%, $green 50%);
          }
          &:hover {
            top: -4vh;
            height: calc(100% + 8vh);
            box-shadow: $shadow 0 0 5vh;
            z-index: 2;
            transition: top 0.2s linear, height 0.2s linear, box-shadow 0.2s linear, z-index 0.2s step-start;
            &#player-0 {
              top: 0;
            }
            &#player-4 {
              top: -8vh;
            }
          }
          > .main {
            display: flex;
            flex: 1;
            background: $lmain;
            > img {
              display: none;
            }
            > .spells {
              display: flex;
              flex: 1;
            }
            > .info {
              display: flex;
              flex-direction: column;
              width: 20vh;
              height: 100%;
              > .summoner_name {
                max-width: 100%;
                height: 3vh;
                font-size: 2.1vh;
                align-items: center;
                > span {
                  flex: 1;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  overflow: hidden;
                }
              }
              > .rank {
                display: flex;
                width: 75%;
                height: 3vh;
                justify-content: space-between;
                align-items: center;
                &.full {
                  width: 95%;
                }
                > .ranklp {
                  display: flex;
                  color: $grey;
                  font-size: 2.4vh;
                  > .lp {
                    font-size: 1.6vh;
                    padding-top: 0.2vh;
                    padding-left: 0.5vh;
                  }
                }
                > .position {
                  height: 105%;
                  object-fit: cover;
                }
              }
              > .winrate {
                display: flex;
                width: 75%;
                height: 2.25vh;
                flex-direction: column;
                > .status {
                  width: 100%;
                  height: 20%;
                  background: $dgrey;
                  > .wins {
                    width: 50%;
                    height: 100%;
                    background: $yellow;
                  }
                }
                > .text {
                  display: flex;
                  flex: 1;
                  justify-content: space-between;
                  align-items: center;
                  color: $grey;
                  font-size: 1.8vh;
                }
              }
              > .stats {
                display: flex;
                flex-direction: column;
                width: 100%;
                position: relative;
                margin-top: 0.75vh;
                color: $grey;
                > * {
                  display: flex;
                  align-items: center;
                  padding: 0.1vh;
                  &::before {
                    content: "";
                    width: 0.25vh;
                    height: 1.6vh;
                    background: $yellow;
                    margin-right: 0.5vh;
                    margin-bottom: 0.05vh;
                  }
                }
                > .champ-winrate {
                  > .matches {
                    font-size: 1.2vh;
                    padding-left: 0.75vh;
                    padding-top: 0.4vh;
                  }
                }
              }
            }
            > .img {
              display: flex;
              width: 100%;
              max-width: 55vh;
              height: 100%;
              position: absolute;
              left: 0;
              top: 0;
            }
            > *:not(.img) {
              z-index: 1;
            }
          }
          > .tags {
            display: flex;
            flex-direction: row-reverse;
            width: 100%;
            height: 3vh;
            background: $grey;
            z-index: 1;
            align-items: center;
            > .tag {
              display: flex;
              height: 100%;
              background: rgba(0, 0, 0, 0.4);
              align-items: center;
              padding: 0 1vh;
              margin-right: 1vh;
              > img {
                height: 50%;
                margin-right: 1vh;
              }
            }
          }
        }
      }
      &#team1 {
        > .player-wr.hide {
          transform: translateX(-20%);
        }
      }
      &#team2 {
        > .player-wr.hide {
          transform: translateX(20%);
        }
      }
      &#team2 {
        order: 1;
        align-items: flex-end;
        > .player-wr > .player {
          &::after {
            left: unset;
            right: 0;
            background: linear-gradient(to right, $red 20%, transparent 20%, transparent 50%, $red 50%);
          }
          > .main {
            flex-direction: row-reverse;
            > .info {
              align-items: flex-end;
              > .stats {
                align-items: flex-end;
                > *::before {
                  display: none;
                }
                > *::after {
                  content: "";
                  width: 0.25vh;
                  height: 1.6vh;
                  background: $yellow;
                  margin-left: 0.5vh;
                  margin-bottom: 0.05vh;
                }
              }
            }
            > .img {
              left: initial;
              right: 0;
            }
          }
          > .tags {
            flex-direction: row;
            > .tag {
              flex-direction: row-reverse;
              margin-right: unset;
              margin-left: 1vh;
              > img {
                margin-right: unset;
                margin-left: 1vh;
              }
            }
          }
        }
      }
    }
    > #cheatsheet {
      flex-direction: column;
      width: 40%;
      height: 100%;
      padding: 2vh;
      background: $lmain;
      box-shadow: $shadow 0 0 0.5vh;
      > .widget {
        width: 100%;
        flex-direction: column;
        background: $main;
        margin-bottom: 2vh;
        opacity: 1;
        transform: translateY(0);
        transition: 0.5s all;
        &.hide {
          opacity: 0;
          transform: translateY(4vh);
        }
        > .head {
          width: 100%;
          height: 3.5vh;
          padding: 1vh;
          justify-content: space-between;
          align-items: center;
          background: $grey;
          color: $black;
          > .visibility {
            cursor: pointer;
          }
        }
      }
      > #teams-damagetype {
        > .body {
          justify-content: space-between;
          padding: 1vh;
          > .team1, > .team2 {
            width: 25%;
            flex-direction: column;
            > .caption {
              width: 100%;
              margin-bottom: 0.5vh;
            }
            > .status {
              height: 0.5vh;
              margin-bottom: 0.5vh;
              > .ad, > .ap {
                width: 50%;
                height: 100%;
              }
              > .ad {
                background: $red;
              }
              > .ap {
                background: $blue;
              }
            }
            > .percentage {
              justify-content: space-between;
              > .ad {
                color: $red;
              }
              > .ap {
                color: $blue;
              }
            }
          }
          > .team2 {
            > .caption {
              justify-content: flex-end;
            }
          }
        }
      }
      > #skill-order {
        > .body {
          padding: 1vh;
          > .abilities {
            flex-direction: column;
            > .ability {
              height: 3vh;
              align-items: center;
              &:not(:last-child) {
                margin-bottom: 1vh;
              }
              > img {
                height: 100%;
                margin-right: 1vh;
              }
              > div {
                width: 3vh;
                height: 100%;
                margin-right: 0.5vh;
                justify-content: center;
                align-items: center;
                background: $lmain;
              }
              &.Q {
                color: lighten($red, 10%);
              }
              &.W {
                color: lighten($blue, 10%);
              }
              &.E {
                color: lighten($green, 10%);
              }
              &.R {
                color: lighten($yellow, 10%);
              }
            }
          }
          > .skill-order-stats {
            flex-direction: column;
            color: $grey;
            > * {
              height: 2vh;
              align-items: center;
              > img {
                height: 100%;
                margin-right: 0.5vh;
              }
            }
          }
        }
      }
      > #items {
        > .body {
          flex-direction: column;
          padding: 1vh;
          > .itembuild {
            height: 3.5vh;
            align-items: center;
            &:not(:last-child) {
              margin-bottom: 1vh;
            }
            > .item {
              height: 100%;
              border-radius: 0.5vh;
            }
            > .arrow {
              height: 40%;
              margin: 0.5vh;
            }
          }
        }
      }
    }
  }
  > .status {
    width: calc(100% - 4vh);
    height: 4vh;
    margin: 2vh;
    padding: 2vh;
    position: relative;
    align-items: center;
    background: $lmain;
  }
}

@keyframes player-hover {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 3;
    border: 1vh solid #000;
  }
}