@import "colorlist.scss";

.page#live {
  main {
    display: flex;
    width: 100%;
    height: 100%;
    > .team {
      display: flex;
      flex-direction: column;
      width: 30%;
      height: 100%;
      padding-top: 2vh;
      flex: none;
      > .player-wr {
        display: flex;
        width: 95%;
        height: calc(20% - 2vh);
        margin-bottom: 2vh;
        position: relative;
        &:hover {
          z-index: 3;
        }
        > .player {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          position: relative;
          background: $lmain;
          z-index: 0;
          top: 0;
          transition: top 0.2s linear, height 0.2s linear, box-shadow 0.2s, z-index 0.2s step-end;
          &::after {
            content: "";
            display: flex;
            width: 1.75vh;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            background: linear-gradient(to left, $blue 20%, transparent 20%, transparent 50%, $blue 50%);
          }
          &:hover {
            top: -4vh;
            height: calc(100% + 8vh);
            box-shadow: $shadow 0 0 5vh;
            z-index: 2;
            transition: top 0.2s linear, height 0.2s linear, box-shadow 0.2s, z-index 0.2s step-start;
            &#player-1 {
              top: 0;
            }
            &#player-5 {
              top: -8vh;
            }
          }
          > .main {
            display: flex;
            flex: 1;
            background: $lmain;
            > img {
              display: none;
            }
            > .spells {
              display: flex;
              flex: 1;
            }
            > .info {
              display: flex;
              flex-direction: column;
              width: 20vh;
              height: 100%;
              > .summoner_name {
                display: flex;
                height: 3vh;
                font-size: 2.1vh;
                align-items: center;
              }
              > .rank {
                display: flex;
                width: 75%;
                height: 3vh;
                justify-content: space-between;
                align-items: center;
                > .ranklp {
                  display: flex;
                  color: $grey;
                  font-size: 2.4vh;
                  > .lp {
                    font-size: 1.6vh;
                    padding-top: 0.2vh;
                    padding-left: 0.5vh;
                  }
                }
                > .position {
                  height: 105%;
                  object-fit: cover;
                }
              }
              > .winrate {
                display: flex;
                width: 75%;
                height: 2.25vh;
                flex-direction: column;
                > .status {
                  width: 100%;
                  height: 20%;
                  background: $dgrey;
                  > .wins {
                    width: 50%;
                    height: 100%;
                    background: $yellow;
                  }
                }
                > .text {
                  display: flex;
                  flex: 1;
                  justify-content: space-between;
                  align-items: center;
                  color: $grey;
                  font-size: 1.8vh;
                }
              }
              > .stats {
                display: flex;
                flex-direction: column;
                width: 100%;
                position: relative;
                margin-top: 0.75vh;
                color: $grey;
                > * {
                  display: flex;
                  align-items: center;
                  padding: 0.1vh;
                  &::before {
                    content: "";
                    width: 0.25vh;
                    height: 1.6vh;
                    background: $yellow;
                    margin-right: 0.5vh;
                    margin-bottom: 0.05vh;
                  }
                }
                > .champ-winrate {
                  > .matches {
                    font-size: 1.2vh;
                    padding-left: 0.75vh;
                    padding-top: 0.4vh;
                  }
                }
              }
            }
            > .img {
              display: flex;
              width: 100%;
              max-width: 55vh;
              height: 100%;
              position: absolute;
              left: 0;
              top: 0;
            }
            > *:not(.img) {
              z-index: 1;
            }
          }
          > .tags {
            display: flex;
            flex-direction: row-reverse;
            width: 100%;
            height: 3vh;
            background: $grey;
            z-index: 1;
            align-items: center;
            > .tag {
              display: flex;
              height: 100%;
              background: rgba(0, 0, 0, 0.4);
              align-items: center;
              padding: 0 1vh;
              margin-right: 1vh;
              > img {
                height: 50%;
                margin-right: 1vh;
              }
            }
          }
        }
      }
      &#team2 {
        order: 1;
        align-items: flex-end;
        > .player-wr > .player {
          &::after {
            left: unset;
            right: 0;
            background: linear-gradient(to right, $red 20%, transparent 20%, transparent 50%, $red 50%);
          }
          > .main {
            flex-direction: row-reverse;
            > .info {
              align-items: flex-end;
              > .stats {
                align-items: flex-end;
                > *::before {
                  display: none;
                }
                > *::after {
                  content: "";
                  width: 0.25vh;
                  height: 1.6vh;
                  background: $yellow;
                  margin-left: 0.5vh;
                  margin-bottom: 0.05vh;
                }
              }
            }
            > .img {
              left: initial;
              right: 0;
            }
          }
          > .tags {
            flex-direction: row;
            > .tag {
              flex-direction: row-reverse;
              margin-right: unset;
              margin-left: 1vh;
              > img {
                margin-right: unset;
                margin-left: 1vh;
              }
            }
          }
        }
      }
    }
    > div:not(.team) {
      display: flex;
      width: 40%;
      height: 100%;
      background: $lmain;
      box-shadow: $shadow 0 0 0.5vh;
    }
  }
}

@keyframes player-hover {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 3;
    border: 1vh solid #000;
  }
}