@import './colorlist.scss';

.page#statistics {
  > main {
    display: flex;
    width: 100%;
    height: 100%;
    > .champions-list {
      width: 25%;
      height: calc(100% - 2vh);
      flex-direction: column;
      margin: 1vh 0 0 1vh;
      > .head {
        width: 100%;
        height: 4vh;
        padding: 0 1vh;
        justify-content: space-between;
        align-items: center;
        background: $grey;
        margin-bottom: 1vh;
        color: $black;
        > .search {
          display: flex;
          width: 50%;
          height: 100%;
        }
      }
      > .filters {
        width: 100%;
        height: 3vh;
        margin-bottom: 1vh;
        justify-content: space-between;
        > .sorting {
          height: 100%;
          margin-left: 1vh;
          align-items: center;
          > .select {
            width: 12vh;
            height: 100%;
            margin-left: 1vh;
            > .selected {
              width: 100%;
              padding: 0 1vh;
            }
            > .dropdown {
              z-index: 2;
            }
            &::after {
              content: "";
              width: 100%;
              height: 0.2vh;
              position: absolute;
              left: 0;
              bottom: 0;
              background: $grey;
              pointer-events: none;
            }
          }
        }
        > .positions {
          height: 100%;
          align-items: center;
          > img {
            height: 100%;
            margin-left: 1vh;
            opacity: 0.5;
            cursor: pointer;
            &:hover {
              opacity: 1;
            }
            &.active {
              opacity: 1;
            }
          }
        }
      }
      > .champions-wr {
        width: 100%;
        height: calc(100% - 8vh);
        > .double-scroll-wr {
          width: 0.5vh;
          overflow-y: auto;
          overflow-x: hidden;
          pointer-events: none;
          scrollbar-color: $white transparent;
          &:first-child {
            transform: scale(-1, 1);
            margin-right: 0.5vh;
          }
          &:last-child {
            margin-left: 0.5vh;
          }
          &::-webkit-scrollbar {
            width: 0.5vh;
          }
          &::-webkit-scrollbar-thumb {
            background: $white;
          }
          &::-webkit-scrollbar-track {
            background: transparent;
          }
        }
        > .champions {
          flex: 1;
          flex-direction: column;
          overflow-y: auto;
          overflow-x: hidden;
          scrollbar-width: none;
          &::-webkit-scrollbar {
            width: 0;
          }
          > .champion {
            width: 100%;
            height: 6vh;
            position: relative;
            align-items: center;
            background: $lmain;
            padding: 0 1vh;
            cursor: pointer;
            &:not(:last-child) {
              margin-bottom: 1vh;
            }
            &::after {
              content: "";
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0;
              top: 0;
              border-left: solid $grey 0;
              transition: 0.5s;
            }
            &:hover::after {
              border-left: solid $grey 0.5vh;
            }
            &.active::after {
              border-left: solid $blue 0.5vh;
            }
            > * {
              height: 100%;
            }
            > .icon {
              height: 100%;
              border-radius: 0.5vh;
            }
            > .main {
              width: 82.5%;
              align-items: flex-end;
              > * {
                height: 3vh;
                align-items: center;
                margin-right: 0.5vh;
                background: rgba($main, 0.5);
              }
              > .name {
                padding: 0 0.75vh;
              }
              > .pos {
                padding: 0.25vh;
                > img {
                  height: 100%;
                }
              }
            }
            > .rates {
              width: 17.5%;
              flex-direction: column;
              justify-content: center;
              > * {
                height: calc(100% / 3);
                align-items: center;
                font-size: 1.3vh;
                > img {
                  height: 80%;
                  margin-right: 1vh;
                }
              }
            }
            > .img {
              width: 100%;
              height: 100%;
              max-width: 55vh;
              position: absolute;
              left: 0;
              top: 0;
            }
            *:not(.img) {
              z-index: 1;
            }
          }
        }
      }
    }
    > .champion-data {
      flex: 1;
      height: 100%;
      padding: 1vh;
      > .head {
        width: 100%;
        height: 20vh;
        position: relative;
        background: $lmain;
        align-items: center;
        padding: 0 2vh;
        > .name {
          font-size: 3.5vh;
        }
        > .img {
          position: absolute;
          right: 0;
          width: 100%;
          max-width: 60vh;
          height: 100%;
        }
      }
    }
  }
}