@import "default-desktop/colorlist.scss";

.check {
  cursor: pointer;
  &::before {
    content: "";
    display: block;
    height: 100%;
    width: 0.8vh;
    background: $grey;
    margin-right: 0.4vh;
  }
  &.enabled::before {
    background: $white;
  }
}

footer {
  width: 100%;
  > #terms {
    text-align: center;
    color: $grey;
    padding: 0.5vh;
  }
}

#root, .load {
  display: none;
}