@import "default-desktop/colorlist.scss";

:root {--vh:1vh;--sc:1}

* {
  box-sizing: border-box;
  flex: none;
  scrollbar-width: thin;
  scrollbar-color: $dgrey $black;
}

div {
  display: flex;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 1.6vh;
}

body {
  background: $main;
  color: $white;
  font-family: 'Roboto';
  cursor: default;
  user-select: none;
}

.page.hide {
  overflow: hidden;
}

#preload {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100rh;
  flex-direction: column;
  background: $main;
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 1;
  visibility: visible;
  transition: 1s opacity linear, 1s visibility step-end;
  &.hide {
    opacity: 0;
    visibility: hidden;
  }
  > .sitename {
    font-family: 'DH';
    font-size: 4.5vh;
    margin-bottom: 2vh;
  }
  > .loadstatus {
    width: 40vh;
    flex-direction: column;
    margin-bottom: 2vh;
    > .title {
      margin-bottom: 0.5vh;
    }
    > .bar {
      width: 100%;
      height: 0.5vh;
      background: $dmain;
    }
    &.scripts {
      color: $yellow;
      > .bar {
        background: rgba($yellow, 0.2);
        > .status {
          background: $yellow;
        }
      }
    }
    &.assets {
      color: $red;
      > .bar {
        background: rgba($red, 0.2);
        > .status {
          background: $red;
        }
      }
    }
    &.images {
      color: $blue;
      > .bar {
        background: rgba($blue, 0.2);
        > .status {
          background: $blue;
        }
      }
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  &:focus {
    outline: none;
  }
}

::-webkit-scrollbar {
  width: 1vh;
}
::-webkit-scrollbar-track {
  background: $black;
}
::-webkit-scrollbar-thumb {
  background: $dgrey;
  &:hover {
    background: $grey;
  }
}

@keyframes load {
  0% {
    left: 0vh;
  }
  100% {
    left: 6.45vh;
  }
}

@font-face{
  font-family: 'DH';
  src: url('/static/fonts/Death Hector.otf');
}

@font-face{
  font-family: 'Roboto';
  src: url('/static/fonts/Roboto-Bold.ttf');
}