@import "default-desktop/colorlist.scss";

:root {--vh:1vh;--sc:1}

* {
  box-sizing: border-box;
  flex: none;
  scrollbar-width: thin;
  scrollbar-color: $dgrey $black;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 1.6vh;
}

body {
  background: $main;
  color: $white;
  font-family: 'Roboto';
  cursor: default;
  user-select: none;
}

.load {
  display: flex;
  width: 70vh;
  height: 70vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  > .load-cont {
    display: flex;
    width: 20vh;
    height: 100%;
    flex: none;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: rotate(45deg);
    animation: load 1s infinite linear;
    > .rect {
      width: 22.5%;
      height: 10000%;
      flex: none;
      background: linear-gradient(to right, rgba($dgrey, 0.5) 60%, transparent 40%);
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 1vh;
}
::-webkit-scrollbar-track {
  background: $black;
}
::-webkit-scrollbar-thumb {
  background: $dgrey;
  &:hover {
    background: $grey;
  }
}

@keyframes load {
  0% {
    left: 0vh;
  }
  100% {
    left: 6.45vh;
  }
}

@font-face{
  font-family: 'DH';
  src: url('/static/fonts/Death Hector.otf');
}

@font-face{
  font-family: 'Roboto';
  src: url('/static/fonts/Roboto-Bold.ttf');
}